:root{
    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);
    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'League Spartan', sans-serif;
    background-color: var(--white);
    min-height: 100vh;
    width: 100vw;
}
.top-background{
    background-image: url('./images/bg-pattern-top-mobile.svg');
    display: inline-block;
    background-repeat: no-repeat;
    height: 224px;
    width: 100vw;
}
.bottom-background{
    background-image: url('./images/bg-pattern-bottom-mobile.svg');
    display: inline-block;
    background-repeat: no-repeat;
    background-position: top;
    height: 224px;
    width: 100vw;
}
.main-container{
    display: grid;
    height: 1000px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 28px;
}
.info-container{
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-rows: 240px 240px;
    padding: 0 40px;
}
.text-resume-container{
    width: 300px;
    place-self: center;
}
.text-resume-container h1{
    font-size: 40px;
    line-height: 0.8;
    text-align: center;
    color: var(--veryDarkMagenta);
    font-weight: bold;
    margin-bottom: 28px;
}
.text-resume-container p{
    text-align: center;
    color: var(--darkGrayishMagenta);
    font-size: 18px;
    margin-bottom: 34px;
}
.rating-cards-container{
    width: 100%;
    display: grid;
    row-gap: 14px;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    margin-bottom: 34px;
}
.rating-cards-container div{
    height: 100%;
    width: 300px;
    background-color: var(--lightGrayishMagenta);
    border-radius: 10px;
    display: grid;
    place-items: center;
}
.rating-cards-container div span{
    display: block;
    height: 16px;
    width: 100px;
    background-image: url('./images/icon-star.svg');
    background-repeat: space;
}
.rating-cards-container div h4{
    color: var(--veryDarkMagenta);
    font-weight: bold;
}
.buyer-cards-container{
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 14px;
}
.buyer-card{
    background-color: var(--veryDarkMagenta);
    border-radius: 10px;
    height: 220px;
    padding: 28px 30px;
    width: 300px;
}
.buyer-card p{
    color: white;
}
.buyer-cards-container span{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    margin-right: 18px;
}
.profile1-img{
    background-image: url('./images/image-colton.jpg');
}
.profile2-img{
    background-image: url('./images/image-irene.jpg');
}
.profile3-img{
    background-image: url('./images/image-anne.jpg');
}
.name-profesion-image-container{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}
.buyer-name{
    color: white;
}
.buyer-description{
    font-weight: 400;
    color: var(--softPink);
}
@media (min-width: 1200px){
    .main-container{
        width: 80%;
        margin: 0 auto;
    }
    .info-container{
        grid-template-rows: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .text-resume-container{
        place-self: start;
        text-align: left;
        width: 100%;
    }
}